.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Arial", sans-serif;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 46px;
  }
  
  .formTypeButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .formTypeButtons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .formTypeButtons button:hover {
    background-color: #45a049;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .input,
  .textarea,
  .select {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 3%;
    width: 70%;
  }
  
  .textarea {
    min-height: 80px;
    resize: vertical;
  }
  
  .select {
    padding: 10px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(to right, #71208c, #df7fff);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    
    background: linear-gradient(to right, #d96a4f, #feb47b);
  }
  
  .label {
    font-size: 26px;
    font-weight: bold;
  }
  