.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Times New Roman', serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.filters {
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.filter-input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 193px;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.users-table th, .users-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.users-table th {
  background: linear-gradient(to right, #71208c, #df7fff);
  color: white;
  cursor: pointer;
  user-select: none;
}

.users-table th:hover {
  background-color: #ff715e;
}

.users-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.users-table tr:hover {
  background-color: #ddd;
}

.no-users {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-top: 20px;
}


.back-button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, rgb(66, 17, 66), rgb(199, 22, 119));
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.back-button:hover {
  background: linear-gradient(to right, rgb(125, 34, 105), rgb(30, 121, 160));
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button:focus {
  outline: none;
  box-shadow: 0px 0px 4px rgba(50, 206, 249, 0.8);
}
